.config {
	width: 23%;
	box-shadow: 0 1px 4px 0 rgba(61, 61, 61, 0.33);

	> div {
		padding: 16px;
	}
	form {
		margin-top: 10px;

		.cloud-select {
			width: 290px;
			max-width: 290px;
		}
		.cloud-input-number,
		.cloud-input-textarea-wrapper,
		input {
			width: 290px;
		}
	}
}
