.config {
	width: 20%;
	> header {
		height: 28px;
		line-height: 28px;
		padding-left: 15px;
		color: #fff;
		user-select: none;
		background: #4f90d3;
	}
	> div {
		padding: 16px;
	}
	form {
		margin-top: 10px;

		.cloud-select {
			width: 290px;
			max-width: 290px;
		}
		.cloud-input-number,
		.cloud-input-textarea-wrapper,
		input {
			width: 290px;
		}
	}
}
